@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");

nav {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

nav .menu {
    width: 70%;
    margin: 0 auto;
    padding: 0 130px 0;
}

nav .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .menu ul li {
    margin-top: 53px;
    margin-right: 20%;
}

nav .menu ul a {
    text-decoration: none;
    color: #733173;
    font-family: 'Finger Paint', cursive;
    font-size: 15pt;
    font-weight: bold;

}

nav .logo {
    width: 30%;
}

nav .logo img {
    margin-top: -51px;
    margin-left: 75px;
}

header .video .color-block{
    height: 300px;
    width: 1000px;
    background-color: #733173;
    position: fixed;
    margin-top: 120px;
    transform: translateX(20%);
}

header .video iframe {
    margin-top: 40px;
    transform: translateX(100%);
}