@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

nav {
    width: 100%;
    height: 15vh;
    display: flex;
    margin-top: -10px;
    flex-direction: row;
    overflow: hidden;
    background-color: white; 
    position: fixed;
    z-index: 1;
}

nav .menu {
    width: 70%;
    margin: 0 auto;
    padding: 0 130px 0;
}

nav .menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav .menu ul li {
    margin-top: 53px;
    margin-right: 20%;
}

nav .menu ul a {
    text-decoration: none;
    color: #733173;
    font-family: 'Finger Paint', cursive;
    font-size: 15pt;
    font-weight: bold;

}

nav .logo {
    width: 30%;
}

nav .logo img {
    margin-top: -51px;
    margin-left: 75px;
}

main {
    scroll-behavior: smooth;
}

main  .video .color-block{
    height: 300px;
    width: 70%;
    background-color: #733173;
    position: absolute;
    margin-top: 200px;
    margin-left: 15%;
    z-index: -1;
}

main .video iframe {
    padding-top: 110px;
    padding-bottom: 40px;
    display:block;
    margin: 0 auto;
    
}

main .welcome h3 {
    width: 70%;
    margin-left: 15%;
    color: #733173;
    font-family: 'Finger Paint', cursive;
    font-size: 15pt;
    font-weight: bold;
}

main .welcome p {
    width: 70%;
    margin-left: 15%;
    padding: 20px 0 20px 0;
    color: #733173;
    font-family: 'Lato', sans-serif;
    font-size: 13pt;
}

main .species-list h3 {
    width: 70%;
    margin-left: 15%;
    margin-top: 290px;
    margin-bottom: 20px;
    color: #733173;
    font-family: 'Finger Paint', cursive;
    font-size: 15pt;
    font-weight: bold;
}

main .species-types {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 15%;
    width: 70%;
}

main .species {
    flex-direction: row;
    position: relative;
    width: 340px;
    height: 280px;
    margin-right: 10px;
}

main .species:hover .species-image{
    z-index: 1;
    opacity: 1;
}

main .species:hover .species-span {
    display: block;
}

main .species-image {
    width: 340px;
    height: 270px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

/* 
main .species-image:hover {
    z-index: -1;
    opacity: 0.3;
} */

main .species-span {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    box-sizing: content-box;
}



main .species-type-span {
    color: #733173;
    font-family: 'Finger Paint', cursive;
    font-size: 15pt;
    padding: 16px 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}